html{
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
:root {
--main-text-color:#212121;
--secondary-text-color:#757575;
--main-background-color:#F5F4FA;
--secondary-background-color:#2F303A;
--logo-accent-color: #2196F3;
--logo-main-color: #F5F4FA;
--button-color: #F5F4FA;
--button-background-color:#2196F3;
--active-focus-color: #212121;
--link-text-color:#2196F3;
--link-background-color: #F5F4FA;
--rare-white-text-color: #FFFFFF;
--contacts-text-color: rgba(255, 255, 255, 0.6);
}
body{
    font-family: Roboto, sans-serif;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid tomato; 
}

/* LOGO */
.logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;
}
.logo .accent{
color: var(--logo-accent-color)
}
.logo .basic{
color: var(--main-text-color)
}
/* LINKS */
.navigation{
color: var(--main-text-color)
text-decoration: none;
}
.navigation:hover {
 background-color: var(--link-background-color);
 color: #2196F3;
 }
 .navigation:focus {
  color: var(--active-focus-color)
}
.navigation:active {
  color: var(--active-focus-color)
 }
.navigation {
 cursor: pointer;
 text-decoration: none;
 }
 .links .navigation{
     display: block;
     padding-top: 32px;
     padding-bottom: 32px;
 }
  /*LINKS */
  .links{
      display: flex;
  }
.link-item{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
list-style-type: none; 
color: var(--main-text-color);
}
.links .link-item{
    margin-right: 50px;
}
.links{
    margin-left: 238px;
}
.main-nav{
    display: flex;
    align-items: center;
}
.contact{
    list-style-type: none; 
}

.address{
    margin: auto;
}
/* ADDRESS */
.address{
    display: flex;
    align-items: center;
}
.address{
color: var(--secondary-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
list-style-type: none;
}
.address .info:not(:last-child){
    margin-right: 50px;
}
.address .contact{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

}

.contact:hover {
background-color: var(--link-background-color);
color: var(--link-text-color);
}
.contact:focus {
    color: var(--active-focus-color);
}
.contact:active {
    color: var(--active-focus-color);
}
.contact {
    cursor: pointer;
}
.contact{
    color:  var(--secondary-text-color);
    text-decoration: none;
}
.line{
    display: flex;
}
/* MAIN */
.header{
color: var(--rare-white-text-color);
background-color: var(--secondary-background-color);

font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}
.button:hover {
    background: var(--button-background-color);
    color: var(--button-color);
}
.button:focus {
    color: var(--active-focus-color);
}
.button:active {
    color: var(--active-focus-color);
}
.button{
    cursor: pointer;
}
.button{
border-radius: 4px;
padding: 10px 32px;
border: 1px solid transparent;

font-weight: 700;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--button-color);
background-color: var(--button-background-color);


}
/* FEATURES */
.sections{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-text-color);
}
.list-item{
    list-style-type: none;
    text-decoration: none;
}
.features{
font-weight: 700;
font-size: 14px;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-text-color);
}
.description{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}
/* WHAT WE DO */

/* COMMAND */
.name{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-text-color);
}
.occupation{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
/* PORTFOLIO */
.button-list{
    list-style-type: none;
}
.btn:hover {
    background: var(--button-background-color);
    color: var(--button-color);
}
.btn:focus {
    color: var(--button-background-color);
}
.btn:active {
    color: var(--button-background-color);
}
.btn {
    cursor: pointer;
}
.btn{
display: inline-block;
border-radius: 4px;
padding: 6px 22px;
min-width: 72px;
border: 1px solid transparent;

font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
text-align: center;
color: var(--button-color);
background-color: var(--button-background-color)
}
.image-list{
list-style-type: none;
}
.image-name{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--main-text-color);
}
.type{
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}
/* FOOTER */
.logotype {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;
}
.logotype .start{
color: var(--logo-accent-color);
}
.logotype .end {
    color: var(--logo-main-color);
}
.footer {
background: var(--secondary-background-color);
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;

}
.address-footer{
font-style: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
}
.map{
    color: var(--rare-white-text-color);
    text-decoration: none;
}
.contact-footer{
    color: var(--contacts-text-color);
    text-decoration: none;
}
